templates/premium/lead-finder.json
{
  "name": "Lead Finder PRO — WorkflowStacks",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧲 Lead Finder PRO\n\n**What it does:** enter a business type and a location, and it pulls a clean spreadsheet of matching businesses — name, address, phone, website, rating — straight from Google's own business data. Your outbound list, built in minutes.\n\n### Setup (≈8 minutes)\n1. Get a **Google Places API key**: console.cloud.google.com → new project → enable \"Places API\" → create an API key. (Google gives a large free monthly credit.)\n2. Open **Search businesses** and **Get contact details** → in each, set the `key` query field to your API key (replace YOUR_GOOGLE_PLACES_API_KEY).\n3. Open **Your search** → set your `query` (e.g. \"dentists in Austin TX\").\n4. **Save leads** → connect Google → pick a spreadsheet + a tab called `Leads`.\n5. Execute. Your leads land in the sheet.\n\n💡 Change the query and run again for a new list. Each run appends fresh leads.\n💡 Prefer we set this up for you? Add the done-for-you option at checkout.\n\n— WorkflowStacks Premium Tool",
        "height": 680,
        "width": 480,
        "color": 4
      },
      "id": "20b00001-0001-4000-8000-000000000001",
      "name": "Setup instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -220]
    },
    { "parameters": {}, "id": "20b00001-0002-4000-8000-000000000002", "name": "When clicking Execute", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [460, 120] },
    {
      "parameters": {
        "assignments": { "assignments": [ { "id": "q", "name": "query", "value": "dentists in Austin TX", "type": "string" } ] },
        "options": {}
      },
      "id": "20b00001-0003-4000-8000-000000000003",
      "name": "Your search",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 120]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "query", "value": "={{ $json.query }}" }, { "name": "key", "value": "YOUR_GOOGLE_PLACES_API_KEY" } ] },
        "options": {}
      },
      "id": "20b00001-0004-4000-8000-000000000004",
      "name": "Search businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 120]
    },
    {
      "parameters": { "fieldToSplitOut": "results", "options": {} },
      "id": "20b00001-0005-4000-8000-000000000005",
      "name": "One row per business",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 120]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "place_id", "value": "={{ $json.place_id }}" }, { "name": "fields", "value": "name,formatted_address,formatted_phone_number,website,rating,user_ratings_total" }, { "name": "key", "value": "YOUR_GOOGLE_PLACES_API_KEY" } ] },
        "options": {}
      },
      "id": "20b00001-0006-4000-8000-000000000006",
      "name": "Get contact details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 120]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "l-name", "name": "Name", "value": "={{ $json.result.name }}", "type": "string" },
          { "id": "l-addr", "name": "Address", "value": "={{ $json.result.formatted_address }}", "type": "string" },
          { "id": "l-phone", "name": "Phone", "value": "={{ $json.result.formatted_phone_number || '' }}", "type": "string" },
          { "id": "l-web", "name": "Website", "value": "={{ $json.result.website || '' }}", "type": "string" },
          { "id": "l-rating", "name": "Rating", "value": "={{ $json.result.rating || '' }}", "type": "string" },
          { "id": "l-count", "name": "Reviews", "value": "={{ $json.result.user_ratings_total || 0 }}", "type": "number" }
        ] },
        "options": {}
      },
      "id": "20b00001-0007-4000-8000-000000000007",
      "name": "Shape the lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 120]
    },
    {
      "parameters": { "operation": "append", "documentId": { "__rl": true, "mode": "list", "value": "" }, "sheetName": { "__rl": true, "mode": "list", "value": "" }, "columns": { "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [], "schema": [] }, "options": {} },
      "id": "20b00001-0008-4000-8000-000000000008",
      "name": "Save leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 120]
    }
  ],
  "connections": {
    "When clicking Execute": { "main": [[{ "node": "Your search", "type": "main", "index": 0 }]] },
    "Your search": { "main": [[{ "node": "Search businesses", "type": "main", "index": 0 }]] },
    "Search businesses": { "main": [[{ "node": "One row per business", "type": "main", "index": 0 }]] },
    "One row per business": { "main": [[{ "node": "Get contact details", "type": "main", "index": 0 }]] },
    "Get contact details": { "main": [[{ "node": "Shape the lead", "type": "main", "index": 0 }]] },
    "Shape the lead": { "main": [[{ "node": "Save leads", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }, "pinData": {}, "meta": { "templateCredsSetupCompleted": false }
}
