templates/premium/review-watchdog.json
{
  "name": "Review Watchdog PRO — WorkflowStacks",
  "nodes": [
    {
      "parameters": {
        "content": "## 🐕 Review Watchdog PRO\n\n**What it does:** every day it checks your Google Business reviews, catches any new low-star review, drafts a careful reply, and emails it to you so you can respond fast — before a bad review sits there festering.\n\n### Setup (≈8 minutes)\n1. Get a **Google Places API key**: console.cloud.google.com → enable \"Places API\" → create a key.\n2. Find your **Place ID**: developers.google.com/maps/documentation/places/web-service/place-id → search your business → copy the Place ID.\n3. Open **Your business** → paste your Place ID.\n4. Open **Get reviews** → set the `key` query field to your API key.\n5. **Draft reply (AI)** → add your OpenAI API key.\n6. **Alert me** → connect Gmail; set your email in the To field.\n7. Activate the workflow. It watches daily and only pings you on reviews of 3★ or below.\n\n💡 Google's API returns your most recent reviews — enough to catch new trouble early.\n💡 Want it fully set up? Add done-for-you at checkout.\n\n— WorkflowStacks Premium Tool",
        "height": 720,
        "width": 480,
        "color": 5
      },
      "id": "40d00001-0001-4000-8000-000000000001",
      "name": "Setup instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -240]
    },
    {
      "parameters": { "rule": { "interval": [ { "field": "days", "triggerAtHour": 9 } ] } },
      "id": "40d00001-0002-4000-8000-000000000002",
      "name": "Every day 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [460, 120]
    },
    {
      "parameters": {
        "assignments": { "assignments": [ { "id": "pid", "name": "place_id", "value": "YOUR_PLACE_ID", "type": "string" } ] },
        "options": {}
      },
      "id": "40d00001-0003-4000-8000-000000000003",
      "name": "Your business",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 120]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "place_id", "value": "={{ $json.place_id }}" }, { "name": "fields", "value": "name,reviews" }, { "name": "reviews_sort", "value": "newest" }, { "name": "key", "value": "YOUR_GOOGLE_PLACES_API_KEY" } ] },
        "options": {}
      },
      "id": "40d00001-0004-4000-8000-000000000004",
      "name": "Get reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 120]
    },
    {
      "parameters": { "fieldToSplitOut": "result.reviews", "options": {} },
      "id": "40d00001-0005-4000-8000-000000000005",
      "name": "One row per review",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [ { "id": "c-low", "leftValue": "={{ $json.rating }}", "rightValue": 3, "operator": { "type": "number", "operation": "lte" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40d00001-0006-4000-8000-000000000006",
      "name": "Low rating only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 120]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "list", "value": "gpt-4o-mini", "cachedResultName": "gpt-4o-mini" },
        "messages": { "values": [ { "content": "=Draft a careful public reply to this negative review for a small business owner.\n\nReviewer: {{ $json.author_name }}\nRating: {{ $json.rating }}/5\nReview: {{ $json.text }}\n\n2-3 sentences: address them by name, acknowledge the specific problem, apologize once sincerely, offer one concrete next step (email us, make it right). Never defensive, never generic, no emojis. Return ONLY the reply text.", "role": "user" } ] },
        "options": {}
      },
      "id": "40d00001-0007-4000-8000-000000000007",
      "name": "Draft reply (AI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "=⚠️ New {{ $('Low rating only').item.json.rating }}★ review needs a reply",
        "emailType": "text",
        "message": "=A new low review came in.\n\nReviewer: {{ $('Low rating only').item.json.author_name }}\nRating: {{ $('Low rating only').item.json.rating }}/5\nWhen: {{ $('Low rating only').item.json.relative_time_description }}\n\nReview:\n{{ $('Low rating only').item.json.text }}\n\nSuggested reply (edit before posting):\n{{ $json.message.content }}\n",
        "options": {}
      },
      "id": "40d00001-0008-4000-8000-000000000008",
      "name": "Alert me",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 100]
    }
  ],
  "connections": {
    "Every day 9:00": { "main": [[{ "node": "Your business", "type": "main", "index": 0 }]] },
    "Your business": { "main": [[{ "node": "Get reviews", "type": "main", "index": 0 }]] },
    "Get reviews": { "main": [[{ "node": "One row per review", "type": "main", "index": 0 }]] },
    "One row per review": { "main": [[{ "node": "Low rating only", "type": "main", "index": 0 }]] },
    "Low rating only": { "main": [[{ "node": "Draft reply (AI)", "type": "main", "index": 0 }]] },
    "Draft reply (AI)": { "main": [[{ "node": "Alert me", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }, "pinData": {}, "meta": { "templateCredsSetupCompleted": false }
}
